@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: #0B0B0B;
  overflow-x: hidden;

}






h1 , h2 , h3 , h4 , h5 , h6 , p , a , ul , li , span {
  color: white;
}

.custom_color_blue{
color: #0D6EFD;
}

div#borderimg_2{
  position:relative;
}

div#borderimg_2:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/assets/image/work-border.png');
background-position: top right;
  background-repeat: no-repeat;
 
}


div#borderimg_1{
  position:relative;
}

div#borderimg_1:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/assets/image/work-border.png');
background-position: bottom right;
  background-repeat: no-repeat;
 
}


.bg-work{
  background-image: url('/assets/image/bg-work.png');
  background-position: top left;
  background-size: contain;
  background-repeat:no-repeat ;
}
.bg-product{
  background-image: url('/assets/image/bg-work.png');
  background-position: top right;
  background-size: contain;
  background-repeat:no-repeat ;
}
.bg-number {
  background-image: url('/assets/image/numberbar.jpg');
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat ;
}

.soldout .soldout-tag{
  display: block !important;
}


.bg-subscribe{
  background-image: url('/assets/image/bg-sub.png');
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat ;
}

.about-arrow::before{
content: '';
background-image: url('/assets/image/about-arrow-right.png');
height: 100px;
    width: 100px;
    top: 100px;
    position: absolute;
    right: -42px;
    background-size: contain;
}

.about-arrow::after{
  content: '';
  background-image: url('/assets/image/about-arrow-left.png');
  height: 100px;
  width: 100px;
  bottom: 100px;
  position: absolute;
  right: -59px;
  background-size: contain;
  }
  
.nav_footer li a:hover{
  color: #0D6EFD;
}
.google_transte select {
  background-color: transparent !important;
  outline: none;
  border: none;
}

.google_transte option {
  background-color: #0b0b0b;
  outline: none;
  border: none;
}

.skiptranslate {
  visibility: hidden !important;
} 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
